.titulo{
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: #111111;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.item{
    padding: 10px;
    margin: 10px;
    background-color: #EE964B;
    border-radius: 8px;
    font-weight: bold;
    color: #fdfdfd;
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;

}
.item:hover{
    --escala: 1.1;
   box-shadow: 5px 5px 60px #f3ece5;
   color: white;

}




@media only screen and (max-width: 600px) {
    .contenedor{
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }
    .item:hover{
        --escala: 1;
       box-shadow: 5px 5px 60px #f3ece5;
       color: white;
    
    }
   
}

@media only screen and (max-width: 768px) {
    .contenedor{
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }
    .item:hover{
        --escala: 1;
       box-shadow: 5px 5px 60px #f3ece5;
       color: white;
    
    }
}