.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    max-height: 400px;
    flex-wrap: wrap;
    color: #111111;
    padding-bottom: 260px;
    
    
}
.subContenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;    
}
.textos{
    max-width: 600px;
}
.tituloNombre{
    font-size: 30px;
    text-align: center;
}
.imgnombre{
    border-radius: 50%;
    width: 250px;
    margin-right: 10px;
}
.bienvenidos{
    font-size: 25px;

}
.carrera, .correo{
    font-size: 20px;
}
.github{
    margin: 25px 10px 10px 10px;
    padding: 10px;
  
}
.redesSociales{
    border-radius: 8px;
  
    background-color: transparent;
    max-width: 450px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    
}
.margen{
    margin-right: 10px;
}
.tituloIdiomas{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.espanol, .ingles{
    padding: 5px;
    background-color: #EE964B;
    color: #fff;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 5px;
    text-align: center;
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
}
.espanol:hover, .ingles:hover{
    --escala: 1.1;
   box-shadow: 5px 5px 50px #f3ece5;
   color: white;
}
.btnDescCV{
    background-color: #8F3985;
    border-radius: 5px;
    padding: 7px;
    outline: none;
    border: 0px;
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
}
.btnDescCV:hover{
    --escala: 1.1;
   box-shadow: 5px 5px 40px #f3ece5;
   color: white;
}
.btnDescCV a{
    text-decoration: none;
    color: #ececec;
}



.imagenFondo{
    background-image: url(../imgs/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 40em;
}



@media only screen and (max-width: 600px) {
    .subContenedor{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;    
        color: #111111;
    }
    .textos{
        max-width: 500px;
    }
    .textoDescriptivo {
        padding-left: 15px;
    }
    .tituloNombre{
        font-size: 26px;
    
    }
    .imgnombre{
        border-radius: 50%;
        width: 195px;
    }
    .bienvenidos{
        font-size: 16px;
        padding-left: 15px;  
    }
    .carrera, .correo{
        font-size: 16px;
        padding-left: 15px;
    }
    .github{
        margin: 25px 10px 10px 10px;
        padding: 10px;
      
        
    }
    .redesSociales{
        border-radius: 8px;
     
        background-color: transparent;
        max-width: 360px;
        width: auto;
        margin: 10px;
        
        
    }
    .contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 250px;
        max-height: 450px;
        flex-wrap: wrap;
        color: white;
        padding-bottom: 320px;
    }
    .contenedorCV{
        margin-left: 15px;
    }
    .idiomas{
        margin-left: 15px;
    }

    
    .imagenFondo{
        background-image: url(../imgs/background1.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 55em;
    }

}

@media only screen and (max-width: 768px) {
    .tituloNombre{
        font-size: 24px;
        text-align: center;
    }

    .imgnombre{
        padding: 7px;
        border-radius: 50%;
        width: 210px;

    }
    .bienvenidos{
        font-size: 17px;

    }
    .carrera, .correo{
        font-size: 17px;
        
    }
    .github{
        margin: 25px 10px 10px 10px;
        padding: 10px;
        
        
    }
    .redesSociales{
        border-radius: 8px;
      
        background-color: transparent;
        max-width: 360px;
        width: auto;
        margin: 0px 8px 0px 0px;
        
    }


}

