@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



body{
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* background: #44A08D;  
  background: -webkit-linear-gradient(to right, #093637, #44A08D); 
  background: linear-gradient(to right, #093637, #44A08D); */
  background: #f0f0f0;

}



.tabs{
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  margin-right: 25px;
  border-bottom: 2px solid rgb(66, 6, 156);

  
}
.tabsItemsActivo{
  background-color: #EE964B;
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 2px;
  color: white;
  border: 0px;
  cursor: pointer;
}
.tabsItemsInactivo{
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 2px;
  border: 0px;
  cursor: pointer;
}
.btnTabs{
  background-color: transparent;
  border: 0px;
}
